body {
    font-family: "Roboto" , sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
button {
    font-family: inherit;
    color: currentColor;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
input {
    font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.logo {
    font-family: "Raleway" , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.collog  {
    color: #2e2f42;
}
.container {
    /* width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center; */
    max-width: 767px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
}

.mob-menu {
    background: #fff;
        padding: 72px 16px 40px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.mob-menu.is-open {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
    }

.close-menu-btn {
    /* display: block;
    margin-left: auto;
    margin-bottom: 24px;
    margin-top: 24px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); */
    width: 24px;
  height: 24px;
  position: relative;
  background-color: #e7e9fc;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.close-pic {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #2e2f42;
}

.mob-menu-list {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
        flex-grow: 1;
}

.mob-menu-item:not(:last-child) {
    /* margin-bottom: 40px; */
}
.mob-menu-item {
    
}

.mob-headstudio {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 0;
}
.studio {
    color: #404bbf;
}

.mob-headstudio:hover,
.mob-headstudio:focus {
    color: #404bbf;
}
.mob-ulupp {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
        margin-bottom: 48px;
}

.mob-menu-contact {
    padding-bottom: 24px;
}

.contact-list {}

.mob-mailtel {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
}
.telephon {
    color:#4d5ae5;
}

.mob-social-list {
    width: 280px;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        margin-left: 0;
}

.mob-media-elem {
    height: 40px;
        width: 40px;
}

.mob-media-icon {
    width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
}

.mob-icon {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #fff;
}

/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover>.modal-close-icon,
.modal-close-btn:focus>.modal-close-icon {
    fill: #ffffff;
}






.headstudio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.headstudio .studio {
    color: #404bbf;
}
.headstudio:hover,
.headstudio:focus {
    color:#404bbf;
}
.add {
    font-style: normal;
    display: none;
}
.mailtel{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailtel:hover,
.mailtel:focus {
    color: #404bbf;

}
.centrecolor {
    /* background-color: #2e2f42;
    width: 320px;
    height: 432px;
    
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0 auto;
     */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/mobbg1x.jpg);
        background-size: cover;
        padding-top: 72px;
        padding-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
        background-repeat: no-repeat;
        background-position: center;    
}

@media (max-width: 767px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .centrecolor {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/mobbg2x.jpg);
    }
}


.centretext {
    /* font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    width: 216px;
    height: 160px;
    padding-top: 72px;
    padding-bottom: 72px; */
    font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-align: center;
        color: #ffffff;
        background-color: inherit;
        letter-spacing: 0.02em;
        width: 216px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
}

.centrebutton {
    /* background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

    font-weight: 500;
        line-height: 1.5;
        text-align: left;
        color: #ffffff;
        background-color: #4d5ae5;
        letter-spacing: 0.04em;
        cursor: pointer;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        margin-left: auto;
        margin-right: auto;
        display: block;

}
.centrebutton:hover,
.centrebutton:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.advant {
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: calc((100% - 72px) / 4); */
    font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-align: center;
        color: #2e2f42;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.advantp {
    /* font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px; */
    font-weight: 500;
        text-align: left;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.ourteam {
    /* background-color: #F4F4FD;
    padding: 120px 0; */
    background-color: #f4f4fd;
}
.ourteam-section {
    width: 296px;
}
.ourteamhead {
    /* font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px; */
    font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-align: center;
        color: #2e2f42;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.ulteam {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 72px;
}

.team-cards {
    margin: 0 auto;
        background-color: #ffffff;
        border-radius: 0 0 4px 4px;
        width: 100%;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* .mark {
    background-color: #FFFFFF;
    display: block;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
} */

.team-member {
    padding: 32px 0;
}
.team-member-name {
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0; */
    font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        color: #2e2f42;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.team-member-role {
    /* font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center; */
    text-align: center;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.ourportfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.banking {
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px; */
    font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        color: #2e2f42;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.app {
    /* font-size: 16px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.end {
    background-color: #2e2f42;
        padding-top: 96px;
        padding-bottom: 96px;
}
.logoend {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.footerlogo {
    display: inline-block;
        margin-bottom: 17.5px;
        width: 116px;
        align-self: center;
        margin-right: 0;
}
.collogg {
    color: #f4f4fd;
}
.endp {
    color: #f4f4fd;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 288px;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    /* padding-top: 12px;
    padding-bottom: 12px; */
}
.header .collog {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.divdiv {
    display: flex;
    align-items: center;
    max-width: 320px;
    height: 56px;
    justify-content: space-between;
    
    
    
}
.navup {
    display: none;

}

.open-menu-btn {
    width: 24px;
        height: 24px;
        position: relative;
        background-color: #e7e9fc;
        border: none;
        cursor: pointer;
        background-color: #fff;
}

.menu {
    display: flex;
    gap: 40px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu>li:first-child>a {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu>li:first-child>a::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.contact-list{
    display: flex;
    gap: 40px;
}
.contact-list li:last-child {
    margin-right: 0;
}
.contact-list>li>a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
    /* width: 320px;
    /* margin: 0 auto;
    padding: 0 15px; 
    max-height: 432px; */
    max-width: 767px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
    
}

.advantages {
    padding-top: 96px;
        padding-bottom: 96px;
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.item-info {
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99; */
    padding: 24px 100px;
        display: none;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
}
.uladvant {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 72px;
    
}
.team-member {
    padding: 32px 0;
    text-align: center;
}
.social-team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.social {
    width: 40px;
    height: 40px;
}
#inst {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inst:hover,
#inst:focus {
    background-color: #404bbf;
}
#twit {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#twit:hover,
#twit:focus {
    background-color: #404bbf;
}
#facebook {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facebook:hover,
#facebook:focus {
    background-color: #404bbf;
}
#linked {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linked:hover,
#linked:focus {
    background-color: #404bbf;
}
.social-icon {
    /* fill: #f4f4fd; */
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #fff;
}
.icon-social {
    /* width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
}
.icon-social:hover,
.icon-social:focus {
    background-color: #404bbf;
}
.secfoot {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
        padding-bottom: 96px;
}
.ulport {
    /* display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    list-style-type: none;
    padding: 0; */
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 48px;
}
.bankapp {
    /* width: calc((100% - 24px) / 2); */
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.cardsimg {
    /* margin: 0 auto; */
        max-width: 100%;
        height: auto;
}

.bankapp:hover {
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.bankapp:hover p {
    transform: translateY(0%);
}
.card-port {
    position: relative;
    overflow: hidden;
}
.cardp {
    font-weight: 400;
        color: #f4f4fd;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #4d5ae5;
        padding: 40px 32px;
        line-height: 1.5;
        letter-spacing: 0.02em;

}
.bankapp:nth-child(3n) {
    margin-right: 0;
}
.divname {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 16px;
}
img {
    display: block;
}
.list {
    /* display: flex;
    gap: 24px;
    list-style-type: none;
    padding: 0; */
}
/* .item {
    width: 100%;
    
}
.item h3 {
    margin-bottom: 8px;
}
.ourteam .item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
} */
.ourteam .team-member>div[class*="container-"] {
    padding: 32px 0;
}
.social-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.container.footer {
    display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 72px;
}
.footer-form {
    width: 288px;
}
.footer-form-title {
    display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
        margin-bottom: 16px;
}
.social-media-container {
    /* margin-right: 80px; */
}
.footer-logo-subtitle {
    display: flex;
        flex-direction: column;
}
.footer-media {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align: center;
}
.footer-list {
    width: 208px;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        margin-right: auto;
        margin-left: auto;
}
.footer-media-elem {
    width: 40px;
    height: 40px;
}

.footer-media-icon {
 width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer-media-icon:hover,
.footer-media-icon:focus {
    background-color: #31d0aa;
}
.footer-icon {
    /* fill: #f4f4fd; */
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.team-media {
    width: 40px;
    height: 40px;
}
.footer-action {
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
}
.footer-label {
    /* gap: 24px; */
}
.footer-input {
    padding: 8px 16px;
        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        outline: none;
        opacity: 0.3;
}
.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: 0.6;
}

.subscribe-input:focus-within {
    border-color: #4d5ae5;
}
.footer-form-button {
    border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        padding: 8px 24px;
        background: #4d5ae5;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
}
.footer-button-strelka {
    margin-left: 16px;
    fill: #ffffff;
}
.modal-window {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);; */
        background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-div-window {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    width: 283px;
    height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px; */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fcfcfc;
        padding: 72px 16px 24px 16px;
        border-radius: 4px;
        width: 288px;
        min-height: 623px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.modal-div-button {
    align-self: flex-end;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin-bottom: 24px;
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-div-button:hover,
.modal-div-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-div-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-div-icon:hover,
.modal-div-icon:focus {
    fill: #ffffff;
}
.modal-div-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form {
    width: 256px;
}

.modal-div-form-div {
    margin-bottom: 8px;
    /* margin-top: 8px; */
}
.modal-label {
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
        position: relative;
        display: block;
}

.modal-input{
    position: relative;
}

.modal-label-input {
border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label-input:focus {
    border-color: #4D5AE5;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label-input:focus+.modal-input-icon {
    fill: #4D5AE5;
}
.modal-comment {
    margin-bottom: 16px;
    /* margin-top: 8px; */
}

.modal-comment-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        padding: 8px 16px;
        outline: transparent;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment-textarea:focus {
    border-color: #4D5AE5;
}

.form-chechbox-label {
    margin-bottom: 24px;
}

.form-checkbox-input .visually-hidden {

}
.form-checkbox-input:checked {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;;
}
.form-checkbox-privacy {
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
}

.icon-checkbox {
    
}

.span-privacy {
    width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        fill: transparent;
        position: relative;
        margin-right: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-privacy {
    line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}
.form-btn {
    /* display: flex;
    justify-content: center; */
}
.form-checkbox-btn {
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        align-self: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        display: block;
        cursor: pointer;
        border: none;
}

.form-checkbox-input:checked+.form-checkbox-privacy .span-privacy {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}


/* TABLET */
@media (min-width: 768px) and (max-width: 1157px) {
    .mob-menu {
        display: none;
    }
    .ourteam-section {
        width: 584px;
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .container {
        max-width: 1157px;
    }
    .logo {
        margin-right: 120px;
    }
    .open-menu-btn {
        display: none;
    }
    .navup {
        display: flex;
    }
    .add {
        display: inline;
            font-style: normal;
    }
    .ulup {
        display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            gap: 40px;
            margin-right: 121px;
    }
    .headstudio {
        font-weight: 500;
            line-height: 1.5;
            color: #2e2f42;
            letter-spacing: 0.02em;
            padding: 24px 0;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .decor {
        position: relative;
            color: #404bbf;
    }
    .decor::after {
        display: block;
        content: '';
        position: absolute;
        border-radius: 2px;
        width: 48px;
        height: 4px;
        border: 2px solid #404bbf;
        background-color: #404bbf;
        bottom: -1px;
    }
    .ulupp {
        display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 12px;
    }
    .mailtel {
        font-size: 12px;
            font-weight: 400;
            line-height: 1.5;
            color: #434455;
            letter-spacing: 0.02em;
    }
    .advantages {
        padding-top: 96px;
            padding-bottom: 96px;
    }
    .secfoot {
        padding-top: 96px;
            padding-bottom: 96px;
    }
    .centrecolor {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/tablbg.jpg);
            padding-top: 112px;
            padding-bottom: 112px;
            max-width: 768px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .centrecolor {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablbg.jpg);
    }
    
  }
  .centretext {
    font-size: 56px;
        line-height: 1.07;
        width: auto;
        max-width: 496px;
        margin-bottom: 48px;
  }
  .centrebutton {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .uladvant {
    flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
  }
  .item {
    width: calc((100% - 24px) / 2);
  }
  .advant {
    text-align: left;
  }
  .ulteam {
    justify-content: flex-start;
        flex-direction: row;
        row-gap: 64px;
        column-gap: 24px;
        flex-wrap: wrap;
  }
  .imgblock {
    margin: 0 auto;
  }
  .team-cards {
    width: calc((100% - 24px) / 2);
  }
  .footer-media-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-social {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .ulport {
    display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
  }
  .bankapp {
    width: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .divname {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 16px;
  }
  .end {
    background-color: #2e2f42;
        padding-top: 96px;
        padding-bottom: 96px;
  }
  .container.footer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  .footer-logo-subtitle {
    margin-right: 24px;
  }
  .footer {
    align-items: baseline;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 0;
        width: 584px;
  }
  .logoend {
    margin-bottom: 16px;
        align-self: start;
  }
  .endp {
    width: 264px;
  }
  .social-media-container {
    margin-right: 80px;
  }
  .footer-media {
    text-align: left;
  }
  .footer-list {
    margin-left: 0;
  }
  .footer-form {
    width: 453px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: start;
  }
  .footer-form-title {
    align-self: start;
  }
  .footer-action {
    flex-direction: row;
        gap: 24px;
  }
  .footer-input {
    width: 264px;
        height: 40px;
        padding-left: 16px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-form-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
   /* TABLET MODAL */
   .modal-div-window {
    width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .modal-div-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .modal-div-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .modal-form {
    width: 360px;
   }
   .modal-label-input:focus-within {
    border-color: #4d5ae5;
   }
   .modal-label-input:focus-within + .modal-input-icon {
    fill: #4d5ae5;
   }
   .span-privacy {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .form-checkbox-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
}

/* DESKTOP */

@media (min-width: 1158px) {
    .mob-menu {
            display: none;
    }
   .ourteam-section {
    width: auto;
   }
   .container {
    max-width: 1158px;
        padding: 0 15px 0;
   }
   .divdiv {
    justify-content: center;
   }
   .logo {
    margin-right: 76px;
   }
   .open-menu-btn {
    display: none;
   }
   .navup {
    display: flex;
   }
   .add {
    display: inline;
        font-style: normal;
   }
   .ulup {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
        margin-right: 332px;
   }
   .headstudio {
    font-weight: 500;
        line-height: 1.5;
        color: #2e2f42;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .headstudio:hover,
   .headstudio:focus {
    color: #404bbf;
   }
   .decor {
    position: relative;
        color: #404bbf;
   }
   .decor::after {
    display: block;
        content: '';
        position: absolute;
        border-radius: 2px;
        width: 48px;
        height: 4px;
        border: 2px solid #404bbf;
        background-color: #404bbf;
        bottom: -1px;
   }
   .ulupp {
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
   }
   .mailtel {
    line-height: 1.5;
        color: #434455;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .mailtel:hover,
   .mailtel:focus {
    color: #404bbf;
   }
   .advantages {
    padding-top: 120px;
        padding-bottom: 120px;
   }
   .secfoot {
    padding-top: 120px;
        padding-bottom: 120px;
   }
   .centrecolor {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people2.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
   }
   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
       .hero {
           background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                   rgba(46, 47, 66, 0.7)),
               url(../images/peoplemin.jpg);
       }
   }
   .centretext {
    font-size: 56px;
        line-height: 1.07;
        width: auto;
        max-width: 496px;
        margin-bottom: 48px;
   }
   .centrebutton {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .centrebutton:hover,
   .centrebutton:focus {
    background-color: #404bbf;
   }
   .uladvant {
    flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
   }
   .item {
    width: calc((100% - 72px) / 4);
   }
   .item-info {
    display: flex;
   }
   .advant {
    font-weight: 400;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
   }
   .advantp {
    font-weight: 400;
   }
   .ulteam {
    justify-content: space-between;
        flex-direction: row;
        gap: 24px;
   }
   .team-cards {
    width: calc((100% - 72px) / 4);
   }
   .imgblock {
    margin: 0 auto;
   }
   .icon-social {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .icon-social:hover,
   .icon-social:focus {
    background-color: #404bbf;
   }
   .ulport {
    display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 48px;
   }
   .bankapp {
    width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .bankapp:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   }
   .bankapp:hover .cardp {
    transform: translateY(0);
   }
   .end {
    background-color: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
   }
   .container.footer {
       display: flex;
       justify-content: flex-start;
       align-items: center; 
   }
   .footer-logo-subtitle {
    margin-right: 120px;
   }
   .footer {
    align-items: baseline;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0;
        width: auto;
   }
   .footerlogo {
    margin-bottom: 16px;
        align-self: start;
   }
   .endp {
    width: 264px;
   }
   .social-media-container {
    margin-right: 80px;
   }
   .footer-media {
    text-align: left;
   }
   .footer-list {
    margin-left: 0;
   }
   .footer-list .footer-media-icon:hover,
   .footer-list .footer-media-icon:focus {
    background-color: #31d0aa;
   }
   .footer-form {
    width: 453px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: start;
   }
   .footer-form-title {
    align-self: start;
   }
   .footer-action {
    flex-direction: row;
        gap: 24px;
   }
   .footer-input {
    width: 264px;
        height: 40px;
        padding-left: 16px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .footer-form-button:hover,
   .footer-form-button:focus {
    background-color: #404bbf;
   }
   .footer-form-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .modal-div-window {
    width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .modal-div-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .modal-div-button:hover,
   .modal-div-button:focus {
    fill: #ffffff;
   }
   .modal-div-button:hover,
   .modal-div-button:focus {
    background-color: #404bbf;
        border: none;
   }
   .modal-div-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .modal-form {
    width: 360px;
   }
   .modal-label-input:focus-within {
    border-color: #4d5ae5;
   }
   .modal-label-input:focus-within + .modal-input-icon {
    fill: #4d5ae5;
   }
   .span-privacy {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .form-checkbox-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .form-checkbox-btn:hover {
    background-color: #404bbf;
   }
}   
 





















.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    

.roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .roboto-thin-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .roboto-light-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .roboto-regular-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .roboto-medium-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .roboto-bold-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .roboto-black-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: italic;
    }